.btn-red {
    background-color: red;
}

.nav_back {
    background-color: #fff !important;
    margin-bottom: 10px;
}

.prod {
    margin-bottom: 10px;
}

.slider-1 {
    margin-bottom: 10px;
}

.conteiner {
    margin: 0 auto;
    width: 1140px;
}
